{% if pagination.maxPages > 1 %}
    <ul class="pagination pagination-sm">
        <li {{ pagination.thisPage == 1 ? 'class="disabled"' }}>
            <a href="{{ path('category_url', {page: pagination.thisPage-1 < 1 ? 1 : pagination.thisPage-1}) }}">«</a>
        </li>

        {% for i in 1..pagination.maxPages %}
            <li {{ pagination.thisPage == i ? 'class="active"' }}>
                <a href="{{ path('category_url', {page: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        <li {{ pagination.thisPage == pagination.maxPages ? 'class="disabled"' }}>
            <a href="{{ path('category_url', {page: pagination.thisPage+1 <= pagination.maxPages ? pagination.thisPage+1 : pagination.thisPage}) }}">»</a>
        </li>
    </ul>
{% endif %}