<!DOCTYPE html>
<!--[if IE 8]> <html class="ie ie8" dir="rtl" lang="fa-IR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" dir="rtl" lang="fa-IR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--> <html dir="rtl" lang="fa-IR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>

    <meta charset="UTF-8" />
    <title>{{ block('title') }}</title>
    <meta name="description" content="{{ block('description') }}"/>

    <link rel="shortcut icon" href="http://{{ domain }}/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="{{ google_verification }}" />

    <meta property="og:locale" content="fa_IR"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}"/>
    <meta property="og:title" content="{{ block('title') }}"/>
    <meta property="og:description" content="{{ block('description') }}"/>

    <meta property="article:published_time" content="{{ block('content_publish_date') }}"/>
    <meta property="article:modified_time" content="{{ block('content_modification_date') }}"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ block('title') }}"/>
    <meta name="twitter:description" content="{{ block('description') }}"/>
    <meta name="twitter:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}"/>

    <link rel="alternate" type="application/rss+xml" title="خبری خوراک" href="http://{{ domain }}/feed/" />

    <link rel="stylesheet" id="theme-css" href="http://{{ domain }}/theme/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" id="theme-responsive-css" href="http://{{ domain }}/theme/css/theme-responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" id="pretty-photo-css" href="http://{{ domain }}/theme/css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" id="font-awesome-css" href="http://{{ domain }}/theme/css/fontawesome/css/font-awesome.min.css?ver=2.4.1" type="text/css" media="all" />
    <link rel="stylesheet" id="theme-skin-css" href="http://{{ domain }}/theme/css/skin-light.css" type="text/css" media="all" />
    <link rel="stylesheet" id="theme-update-css" href="http://{{ domain }}/theme/css/update.css" type="text/css" media="screen" />

    <script type="text/javascript" src="http://{{ domain }}/theme/js/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="http://{{ domain }}/theme/js/jquery-migrate.min.js?ver=1.4.1"></script>
    <script type="text/javascript" src="http://{{ domain }}/theme/js/jquery.prettyPhoto.js?ver=4.6.1"></script>

    <link rel="canonical" href="{{ block('permalink') }}" />
    <link rel="shortlink" href="{{ block('permalink') }}" />

    <link rel="icon" href="http://{{ domain }}/theme/icons/icon-32x32.jpg" sizes="32x32" />
    <link rel="icon" href="http://{{ domain }}/theme/icons/icon-192x192.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="http://{{ domain }}/theme/icons/icon-180x180.jpg" />
    <meta name="msapplication-TileImage" content="http://{{ domain }}/theme/icons/icon-270x270.jpg" />

    <meta name="generator" content="Symax 4.6.1" />

    <!--[if lt IE 9]>
    <script src="http://{{ domain }}/theme/js/html5.js" type="text/javascript"></script>
    <![endif]-->

</head>

<body class="rtl home page page-id-425 page-template page-template-page-blocks page-template-page-blocks-php logged-in admin-bar no-customize-support page-builder right-sidebar full">
    <div class="main-wrap">
        <div class="top-bar">
            <div class="wrap">
                <section class="top-bar-content">

                    <div class="trending-ticker">
                        <span class="heading">تازه ها :</span>
                        <ul>
                        {% for article in theme.latest_articles %}
                            <li><a href="{{ absolute_url(path('article_url', {'slug': article.slug})) }}" title="{{ article.excerpt }}">{{ article.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div class="search">
                        <form role="search" action="http://invaroonvar.com/" method="get">
                            <input type="text" name="s" class="query" value="" placeholder="جستجو..." />
                            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div> <!-- .search -->

                    <div class="textwidget">
                        <ul class="social-icons cf">
                            <li><a rel="nofollow" href="https://twitter.com/home?status={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|e('url') }}" class="icon fa fa-twitter" title="به اشتراک گذاری در توییتر"><span class="visuallyhidden">توییتر</span></a></li>
                            <li><a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|e('url') }}" class="icon fa fa-facebook" title="به اشتراک گذاری در فیس بوک"><span class="visuallyhidden">فیس بوک</span></a></li>
                            <li><a rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|e('url') }}" class="icon fa fa-linkedin" title="به اشتراک گذاری در لینکدین"><span class="visuallyhidden">لینکدین</span></a></li>
                            <li><a rel="nofollow" href="https://plus.google.com/share?url={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|e('url') }}" class="icon fa fa-google-plus" title="به اشتراک گذاری در گوگل پلاس"><span class="visuallyhidden">گوگل پلاس</span></a></li>
                        </ul>
                    </div>

                </section>
            </div>

        </div>


        <div id="main-head" class="main-head">
            <div class="wrap">

                <header>
                    <div class="title">
                        <a href="http://invaroonvar.com/" title="{{ site_title }}" rel="home">
                            <span class="main-color">{{ site_name }}</span>
                        </a>
                    </div>
                    <div class="right">
                        <div class="adwrap-widget">
                            <img src="http://theme-sphere.com/smart-mag/wp-content/uploads/2014/01/ad-block.png" alt="Leaderboard Ad" />
                        </div>
                    </div>
                </header>

                <nav class="navigation cf" data-sticky-nav="1" data-sticky-logo="1">
                    <div class="mobile" data-type="off-canvas" data-search="1">
                        <a href="#" class="selected">
                            <span class="text">ناوبری</span>
                            <span class="current"></span>
                            <i class="hamburger fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="menu">

                            <li class="sticky-logo"><a href="http://{{ domain }}/"><span class="main-color">{{ site_name }}</span></a></li>

                            <li id="menu-item-2151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2151"><a href="#">دسته بندی موضوعی</a><ul class="mega-menu links row">
                                    <li id="menu-item-2639" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-cat-208 menu-item-2639"><a href="http://invaroonvar.com/category/%d8%b1%d8%a7%db%8c%d8%a7%d9%86%d9%87-%d9%85%d9%88%d8%a8%d8%a7%db%8c%d9%84/">سخت افزار و نرم افزار</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2646" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2646"><a href="/tag/کروم%20بوک/">کروم بوک</a></li>
                                            <li id="menu-item-2647" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2647"><a href="/tag/مک%20بوک/">مک بوک</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-2637" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-cat-1 menu-item-2637"><a href="http://invaroonvar.com/category/%d9%81%d9%86%d8%a2%d9%88%d8%b1%db%8c/">تازه های فن آوری</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2648" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2648"><a href="/tag/گجت/">گجت ها</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            {% for catitem in theme.categories %}
                            <li id="menu-item-2624" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-cat-208 menu-item-2624"><a href="{{ absolute_url(path('category_url', {'slug': catitem.category.slug})) }}">{{ catitem.category.title }}</a>
                                <div class="mega-menu row">
                                    <div class="col-12 extend">

                                        <section class="col-4 featured">
                                            <span class="heading">مطالب ویژه</span>
                                            <div class="highlights">
                                                {% for item in catitem.items[0:1] %}
                                                    <article>
                                                        <a href="{{ absolute_url(path('article_url', {'slug': item.slug})) }}" title="{{ item.excerpt }}" class="image-link">
                                                            <img width="351" height="185" src="{{ item.image|replace({'{size}': '351x185'}) }}" class="image wp-post-image" alt="{{ item.title }}" title="{{ item.title }}" />
                                                        </a>
                                                        <div class="meta">
                                                            <time datetime="{{ item.createdAt|date('Y-m-d') }}" title="{{ item.createdAt|jdate('l d F Y') }}" itemprop="datePublished">{{ item.createdAt|jdate('l d F Y') }}</time>
                                                            <span class="views">{{ item.views|pnum }} بازدید</span>
                                                        </div>
                                                        <h2><a href="{{ absolute_url(path('article_url', {'slug': item.slug})) }}" title="{{ item.excerpt }}">{{ item.title }}</a></h2>
                                                    </article>
                                                {% endfor %}
                                            </div>
                                        </section>

                                        <section class="col-8 recent-posts">
                                            <span class="heading">مطالب جدید</span>
                                            <div class="posts-list col-6">
                                                {% for item in catitem.items[1:3] %}
                                                    <div class="post">
                                                        <a href="{{ absolute_url(path('article_url', {'slug': item.slug})) }}"><img width="100" height="100" src="{{ item.thumbnail }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ item.title }}" title="{{ item.title }}" /></a>
                                                        <div class="content">
                                                            <span class="views">{{ item.views|pnum }} بازدید</span>
                                                            <time datetime="{{ item.createdAt|date('Y-m-d') }}" title="{{ item.createdAt|jdate('l d F Y') }}" itemprop="datePublished">{{ item.createdAt|jdate('l d F Y') }}</time>
                                                            <a href="{{ absolute_url(path('article_url', {'slug': item.slug})) }}" title="{{ item.excerpt }}">{{ item.title }}</a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="posts-list col-6">
                                                {% for item in catitem.items[4:3] %}
                                                    <div class="post">
                                                        <a href="{{ absolute_url(path('article_url', {'slug': item.slug})) }}"><img width="100" height="100" src="{{ item.thumbnail }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ item.title }}" title="{{ item.title }}" /></a>
                                                        <div class="content">
                                                            <span class="views">{{ item.views|pnum }} بازدید</span>
                                                            <time datetime="{{ item.createdAt|date('Y-m-d') }}" title="{{ item.createdAt|jdate('l d F Y') }}" itemprop="datePublished">{{ item.createdAt|jdate('l d F Y') }}</time>
                                                            <a href="{{ absolute_url(path('article_url', {'slug': item.slug})) }}" title="{{ item.excerpt }}">{{ item.title }}</a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="wrap"></div>

        {{ block('featuredbox') }}

        <div class="main wrap cf">
            <div class="row">
                {% block body %} body {% endblock %}
            </div> <!-- .row -->
        </div> <!-- .main -->


        <footer class="main-footer">

            <div class="wrap">
                <ul class="widgets row cf">
                    <li class="widget column bunyad-about">
                        <div class="about-widget">
                            <p class="logo-text">عضویت در خبرنامه</p>
                            <p> مجله اینترنتی اینور اونور با هدف جمع آوری آخرین و بروزترین اخبار و مطالب در زمینه های علمی، فرهنگی، هنری، دنیای فن آوری و غیره در قالب یک مجموعه و در اختیار قرار دادن آن در درستر مخاطبین خود فعالیت خود را آغاز نموده است. امیدواریم با ارسال باز خورد های خود ما را در راه بهتر شدن همراهی نمایید. جهت دریافت گزیده مطالب مجله در پست الکترونیک خود میتوانید از طریق فرم زیر در خبرنامه سایت عضو شوید.</p>
                            <div class="feedburner">
                                <p class="heading">عضویت در خبرنامه سایت</p>
                                <form method="post" action="http://feedburner.google.com/fb/a/mailverify">
                                    <label for="feedburner-email">آدرس ایمیل ...</label>
                                    <input type="text" id="feedburner-email" name="email" class="feedburner-email" placeholder="آدرس ایمیل ..." />
                                    <input class="feedburner-subscribe" type="submit" name="submit" value="عضو شو" />
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="lower-foot">
                <div class="wrap">
                    <div class="widgets">
                        <div class="textwidget"><strong>{{ site_title }}</strong>
                            <div>تمامی حقوق انتشار محفوظ می باشد.</div>
                        </div>
                        <div class="menu-footer-container">
                            <ul id="menu-footer" class="menu">
                                <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2109"><a href="#">خانه</a></li>
                                <li id="menu-item-2" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2174"><a href="#">درباره ما</a></li>
                                <li id="menu-item-3" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2172"><a href="#">نقشه سایت</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div> <!-- .main-wrap -->

    <script type="text/javascript" src="http://{{ domain }}/theme/js/bunyad-theme.js?ver=2.4.1"></script>
    <script type="text/javascript" src="http://{{ domain }}/theme/js/rtl-jquery.flexslider-min.js?ver=2.4.1"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ ga_tracking }}', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>