{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.excerpt }}{% endblock %}

{% block body %}
    <div class="col-8 main-content">
        <article class="post type-post status-publish format-standard has-post-thumbnail" itemscope="" itemtype="http://schema.org/Article">

            <header class="post-header cf">
                <div class="featured">
                    <a href="{{ article.image|replace({'{size}': '700x330'}) }}" title="{{ article.title }}" itemprop="image" rel="prettyPhoto">
                        <img src="{{ article.image|replace({'{size}': '700x330'}) }}" class="attachment-main-slider size-main-slider wp-post-image no-display appear" alt="{{ article.title }}" title="{{ article.title }}" width="620" height="330">
                    </a>
                </div>

                <h1 class="post-title item fn" itemprop="name">{{ article.title }}</h1>
            </header>

            <div class="post-meta">
                <span class="cats">ارسال شده در : {% for category in article.categories %}<a href="{{ absolute_url(path('category_url', {slug: category.slug})) }}">{{ category.title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</span> |
                <span class="source">منبع : <a href="{{ article.sourceUrl }}" target="_blank" rel="nofollow">{{ article.source }}</a></span>

                <span class="leftside">
                    <span class="dtreviewed">
                        <time class="value-title" datetime="{{ article.createdAt|date('Y-m-d') }}" title="{{ article.createdAt|jdate('l d F Y') }}" itemprop="datePublished">{{ article.createdAt|jdate('l d F Y') }}</time>
                    </span> |
                    <span class="views">{{ article.views|pnum }} بازدید</span>
                </span>
            </div>

            <div class="post-container cf">
                <div class="post-content-right">
                    <div class="post-content description " itemprop="articleBody">
                        <p>{{ article.excerpt }}</p>
                        {{ article.content|raw }}
                        <div class="tagcloud">{% for tag in article.tags %}<a href="{{ absolute_url(path('tag_url', {slug: tag.slug})) }}">{{ tag.title }}</a>{% endfor %}</div>
                    </div>
                </div>

            </div>

        </article>

        <section class="navigate-posts">
            {% if article_before|length %}
            <div class="previous">
                <span class="main-color title"><i class="fa fa-chevron-left"></i> نوشته قبلی</span>
                <span class="link">
                    <a href="{{ absolute_url(path('article_url', {slug: article_before[0].slug})) }}" title="{{ article_before[0].excerpt }}" rel="prev">{{ article_before[0].title }}</a>
                </span>
            </div>
            {% endif %}
            {% if article_after|length %}
            <div class="next">
                <span class="main-color title">مقاله بعدی <i class="fa fa-chevron-right"></i></span>
                <span class="link">
                    <a href="{{ absolute_url(path('article_url', {slug: article_after[0].slug})) }}" title="{{ article_after[0].excerpt }}" rel="prev">{{ article_after[0].title }}</a>
                </span>
            </div>
            {% endif %}
        </section>
        {% if article_related|length %}
        <section class="related-posts">
            <h3 class="section-head">نوشته های مرتبط</h3>
            <ul class="highlights-box three-col related-posts">
                {% for article in article_related %}
                <li class="highlights column one-third">
                    <article>
                        <a href="{{ absolute_url(path('article_url', {slug: article.slug})) }}" title="{{ article.excerpt }}" class="image-link">
                            <img src="{{ article.image|replace({'{size}': '215x140'}) }}" class="image wp-post-image no-display appear" alt="{{ article.title }}" title="{{ article.title }}" width="214" height="140">
                        </a>
                        <div class="meta">
                            <time datetime="{{ article.createdAt|date('Y-m-d') }}" title="{{ article.createdAt|jdate('l d F Y') }}" itemprop="datePublished">{{ article.createdAt|jdate('l d F Y') }}</time>
					        <span class="views">{{ article.views|pnum }} بازدید</span>
                        </div>
                        <h2><a href="{{ absolute_url(path('article_url', {slug: article.slug})) }}" title="{{ article.excerpt }}">{{ article.title }}</a></h2>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

    </div>
    <aside class="col-4 sidebar">
        <h3 class="widgettitle">جدیدترین مطالب</h3>
        <ul class="block posts-list thumb">
            {% for article in latest_with_image %}
                <li>
                    <span class="leftside views">{{ article.views|pnum }} بازدید</span>
                    <a href="{{ absolute_url(path('article_url', {'slug': article.slug})) }}" title="{{ article.excerpt }}"><img width="75" height="75" src="{{ article.thumbnail }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ article.title }}" title="{{ article.title }}" /></a>
                    <div class="content">
                        <time datetime="{{ article.createdAt|date('Y-m-d') }}" title="{{ article.createdAt|jdate('l d F Y') }}" itemprop="datePublished">{{ article.createdAt|jdate('l d F Y') }}</time>
                        <a href="{{ absolute_url(path('article_url', {'slug': article.slug})) }}" title="{{ article.excerpt }}">{{ article.title }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock %}