{% extends "base.html.twig" %}

{% block featuredbox %}
    <div class="main-featured">
        <div class="wrap cf">
            <div class="row">
                <div class="slider frame flexslider col-8" data-animation-speed="600" data-animation="fade" data-slide-delay="5000">
                    <ul class="slides">
                        {% for article in featured[0:7] %}
                            <li>
                                <a href="{{ path('article_url', {'slug': article.slug}) }}" class="image-link"><img width="620" height="330" src="{{ article.image }}" class="attachment-main-slider size-main-slider wp-post-image" alt="{{ article.title }}" title="{{ article.title }}"/></a>
                                {% if article.categories %}<a href="{{ path('category_url', {'slug': article.categories[0].slug}) }}" class="cat cat-title cat-1">{{ article.categories[0].title }}</a>{% endif %}
                                <div class="caption">
                                    <time datetime="{{ item.createdAt }}">{{ item.createdAt|jdate }}</time>
                                    <h3><a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}">{{ article.title }}</a></h3>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- .flexslider -->
                <div class="blocks col-4">
                    {% set article = featured[7:1] %}
                    {% if article %}
                        <article class="large">
                            {% if article.categories %}<span class="cat cat-title cat-1"><a href="{{ path('category_url', {'slug': article.categories[0].slug}) }}">{{ path('category_url', {'slug': article.categories[0].title}) }}</a></span>{% endif %}
                            <a href="{{ path('article_url', {'slug': article.slug}) }}" class="image-link"><img width="351" height="185" src="{{ article.image }}" class="attachment-main-block size-main-block wp-post-image" alt="{{ article.title }}" title="{{ article.title }}" /></a>
                            <h3><a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}">{{ article.title }}</a></h3>
                        </article>
                    {% endif %}
                    {% set article = featured[8:1] %}
                    {% if article %}
                        <article class="small">
                            <a href="{{ path('article_url', {'slug': article.slug}) }}" class="image-link"><img width="351" height="185" src="{{ article.image }}" class="attachment-main-block size-main-block wp-post-image" alt="{{ article.title }}" title="{{ article.title }}" /></a>
                            <h3><a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}">{{ article.title }}</a></h3>
                        </article>
                    {% endif %}
                    {% set article = featured[9:1] %}
                    {% if article %}
                        <article class="small last">
                            <a href="{{ path('article_url', {'slug': article.slug}) }}" class="image-link"><img width="351" height="185" src="{{ article.image }}" class="attachment-main-block size-main-block wp-post-image" alt="{{ article.title }}" title="{{ article.title }}" /></a>
                            <h3><a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}">{{ article.title }}</a></h3>
                        </article>
                    {% endif %}
                </div>
            </div> <!-- .row -->
        </div> <!--  .wrap  -->
    </div>
{% endblock %}

{% block body %}
    {% for section in categories %}
        <div class="col-12 main-content">
            <div class="page-content page type-page status-publish">
                <div class="row cf highlights-box">
                    <div class="column half basecolumn">
                        <section class="highlights">
                            <span class="cat-title larger">
                            <a href="{{ path('category_url', {'slug': section.category.slug}) }}">{{ section.category.title }}</a></span>
                            {% set top = section.latest_with_image[0:1] %}
                            {% if top %}
                            <article itemscope itemtype="http://schema.org/Article">
                                <a href="{{ path('article_url', {'slug': top.slug}) }}" title="{{ top.excerpt }}" class="image-link" itemprop="url">
                                    <img width="350" height="185" src="{{ top.image }}" class="image wp-post-image" alt="{{ top.title }}" title="{{ top.title }}" />
                                </a>
                                <div class="meta">
                                    <span class="views">{{ top.views }} بازدید</span>
                                    <time datetime="{{ top.created_at }}" itemprop="datePublished">{{ top.created_at|jdate }}</time>
                                </div>
                                <h2 itemprop="name"><a href="{{ path('article_url', {'slug': top.slug}) }}" title="{{ top.excerpt }}">{{ top.title }}</a></h2>
                                <div class="excerpt">
                                    <p>{{ top.excerpt }}</p>
                                </div>
                            </article>
                            {% endif %}
                            <ul class="block posts-links">
                                {% for link in section.latest_others %}
                                <li><a href="{{ path('article_url', {'slug': link.slug}) }}" title="{{ link.excerpt }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    <div class="column half subcolumn">
                        <h3 class="widgettitle">جدید ترین های {{ section.category.title }}</h3>
                        <section>
                            <ul class="block posts-list thumb">
                                {% for article in section.latest_with_image[1:7] %}
                                <li>
                                    <span class="views">{{ article.views }} بازدید</span>
                                    <a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}"><img width="75" height="75" src="{{ article.image }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ article.title }}" title="{{ article.title }}" /></a>
                                    <div class="content">
                                        <time datetime="{{ top.created_at }}" itemprop="datePublished">{{ top.created_at|jdate }}</time>
                                        <a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}">{{ article.title }}</a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    <div class="column half subcolumn">
                        <h3 class="widgettitle">پربازدید ترین های {{ section.category.title }}</h3>
                        <section>
                            <ul class="block posts-list thumb">
                                {% for article in section.most_viewed[0:7] %}
                                    <li>
                                        <span class="views">{{ article.views }} بازدید</span>
                                        <a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}"><img width="75" height="75" src="{{ article.image }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ article.title }}" title="{{ article.title }}" /></a>
                                        <div class="content">
                                            <time datetime="{{ top.created_at }}" itemprop="datePublished">{{ top.created_at|jdate }}</time>
                                            <a href="{{ path('article_url', {'slug': article.slug}) }}" title="{{ article.excerpt }}">{{ article.title }}</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}